@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__image/_pic/cards__image_pic_attention.css);
@import url(./__image/_pic/cards__image_pic_recall.css);
@import url(./__image/_pic/cards__image_pic_interliving.css);
@import url(./__image/_pic/cards__image_pic_question.css);
@import url(./__image/_pic/cards__image_pic_competence.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__description.css);

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 920px;
}
