/* 
 * в брифе было видно, что у некоторых элементов
 * отступы были внешние, но я решил отказаться от
 * margin'ов и делал padding'и, опираясь на БЭМ
 */

/* Очень не люблю outline */
* {
  outline: none;
}

/* 
 * сначала я создал модификатор margnin_0 и начал
 * присваивать текстовым элементам, потому что
 * normilize.css не убирал margin у заголовков и
 * параграфов. затем я посмотрел, что добавляю
 * этот модификатор всегда к h1, h2, h3, р и понял,
 * что куда легче будет создать одно правило в css
 */
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  transition: opacity 0.3s linear;
}

a:hover {
  opacity: 0.5;
}
