@import url(./_theme/_dark/section-title_theme_dark.css);

.section-title {
  position: relative;
  z-index: 1;
  margin: auto;
  padding-bottom: 20px;
  width: 60%;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
}
